@font-face {
    src: url('/static/minesweeper/WARGAMES.ttf') format('truetype');
    font-family: Wargames;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Code", sans-serif;
    text-align: center;
    /*background-image: url("/static/minesweeper/background.png");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*backdrop-filter: brightness(1.4) blur(2px) grayscale(.6);*/
    background-color: #f7f7f7;
    min-height: 100dvh;
}
h1 {
    font-size: 2.5em;
    margin-top: 20px;
}
p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
#info {
    display: flex;
    justify-content: center;
}
#info #timer{
    display: none;
    justify-content: center;
    gap: 2ch;
    padding: 1rem 2rem;
    border-radius: .3rem;
    background-color: darkcyan;
    user-select: none;
    width: fit-content;
}
#info #timer .hour,
#info #timer .minute,
#info #timer .second{
    padding: .7rem;
    border-radius: .3rem;
    background-color: #fee6e3;
    font-size: 4rem;
    color: dodgerblue;
}
.game-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-ctn .army-img {
    flex: 1;
}
.game-ctn .army-img img {
    width: 70%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: #777777AA;
    backdrop-filter: blur(8px);
    z-index: 5;

    font-size: 1.5rem;
}
#game-board {
    position: relative;
    display: grid;
    margin: 0 auto;
    border: 3px solid black;
    user-select: none;
}
#start-btn {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#start-btn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}
#start-btn:hover:after {
    transform: translate(0, 0);
}
#start-btn:active {
    background-color: #ffdeda;
    outline: 0;
}
#start-btn:hover {
    outline: 0;
}
@media (min-width: 768px) {
    #start-btn {
        padding: 0 40px;
    }
}
.cell {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    background-color: #EAAF7B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: url("/static/minesweeper/pickaxe.png") 4 8, auto;
    user-select: none;
}
.cell.revealed {
    background-color: lightsteelblue;
    cursor: url("/static/minesweeper/pickaxe.png") 4 8, auto;
}
.cell.revealed[data-mine-nb="0"] {
    background-color: lightskyblue;
}
.cell.revealed[data-mine-nb="1"] {
    color: dodgerblue;
}
.cell.revealed[data-mine-nb="2"] {
    color: darkcyan;
}
.cell.revealed[data-mine-nb="3"] {
    color: orange;
}
.cell.revealed[data-mine-nb="4"] {
    color: lightcoral;
}
.cell.revealed[data-mine-nb="5"] {
    color: orangered;
}
.cell.revealed[data-mine-nb="6"] {
    color: red;
}
.cell.revealed[data-mine-nb="7"] {
    color: maroon;
}
.cell.revealed[data-mine-nb="8"] {
    color: darkmagenta;
}
.cell.flagged {
    background-color: teal;
}
.cell.mine {
    background-color: red;
}
.cell-image {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* recap info */
.recap-info {
    display: none;
    gap: 2rem;
    padding: 2rem 0;
}
.player, .opponent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opponent .strength {
    color: midnightblue;
    font-size: 32px;
}

/* progress bar */
.progress_bar_item {
    width: 65%;
    height: 4rem;
    margin-bottom: 2rem;
}
.labels {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}
.item_label,
.item_value {
    font-family: Wargames, sans-serif;
    font-size: 2.5rem;
    height: 2.5rem;
    font-weight: 800;
    color: #D3D5D7;
}
.item_bar {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-radius: 7px;
}
.item_bar .progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    margin: 0;
    background-color: #f50045;
    border-radius: 7px;
    transition: width 100ms ease;
}

/* completion percentage */
#svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #666;
    stroke-width: 1em;
}
#svg #bar {
    stroke: #FF9F1E;
}
#cont {
    display: block;
    height: 200px;
    width: 200px;
    margin: 2em auto;
    box-shadow: 0 0 1em black;
    border-radius: 100%;
    position: relative;
}
#cont:after {
    position: absolute;
    display: block;
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    box-shadow: inset 0 0 1em black;
    content: attr(data-pct)" units";
    margin-top: -80px;
    margin-left: -80px;
    border-radius: 100%;
    line-height: 160px;
    font-size: 2em;
    text-shadow: 0 0 0.5em black;
}