body {
    font-family: Arial, sans-serif;
    text-align: center;
}

@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

#game-area {
    width: 90vw;
    height: 80vh;
    position: relative;
    margin: 20px auto;
    border: 2px solid black;
    overflow: hidden;
    background-color: lightgray;
    background-image: url("/static/shooting_image/playground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.target {
    width: 5vw;
    height: 5vw;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

.enemy {
    background-image: url("/static/shooting_image/enemy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.friendly {
    background-image: url("/static/shooting_image/ally.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#message {
    font-size: 1.5em;
    margin: 10px;
}

#score {
    font-size: 2em;
    font-weight: bold;
}

.blink {
    animation: blink 500ms ease-in-out;
}