*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive; /* Google font for retro feel */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

#game-area {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    /* Change the cursor image */
    cursor: url('/static/shooting_image/crosshair-cursor.png') 42 42, auto;
    z-index: 1;
}

.background_image {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.background_image_animation {animation: blurEffect 4s infinite ease-in-out; /* Blurring animation */}

.game-area-ctn{
    width: 90vw;
    height: 80vh;
    overflow: hidden;
    border: 2px solid black;
    margin: 0 auto;
    position: relative;
}

.target {
    width: 5vw;
    height: 5vw;
    position: absolute;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.enemy {
    background-image: url("/static/shooting_image/enemy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.friendly {
    background-image: url("/static/shooting_image/ally.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#message {
    font-size: 1.5em;
    margin: 10px;
}

#score {
    font-size: 2em;
    font-weight: bold;
}

.blink {
    animation: blink 500ms ease-in-out;
}

/* Keyframes for blurring and moving */
@keyframes blurEffect {
    0% {
        transform: scale(100%); /* Starting position */
        filter: blur(0px); /* No blur */
    }
    25% {
        transform: scale(102%); /* Shift right */
        filter: blur(1px) hue-rotate(40deg); /* Full blur */
    }
    50% {
        transform: scale(100%); /* Back to original position */
        filter: blur(0px); /* No blur */
    }
    75% {
        transform: scale(102%); /* Shift right */
        filter: blur(1px) hue-rotate(40deg); /* Full blur */
    }
    100% {
        transform: scale(100%); /* End at original position */
        filter: blur(0px); /* No blur */
    }
}

#paused-overlay {
    position: absolute; /* Position it absolutely within the game area */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white; /* Text color */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    z-index: 2; /* Ensure it's above the game content */
    display: none; /* Initially hide the overlay */
    cursor: url('/static/shooting_image/v-cursor.cur') pointer;
}

.menu-option:hover {
    text-decoration: underline;
}

.menu-option{
    list-style: none;
}

.score {
    position: absolute; /* Position it absolutely within the game area container */
    top: 0; /* Distance from the top */
    right: 0; /* Distance from the right */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background for readability */
    color: white; /* Score text color */
    padding: 5px; /* Some padding for aesthetics */
    border-radius: 5px; /* Rounded corners */
    z-index: 10; /* Ensure it's on top of other elements */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2ch;
}